In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_csv("D:\\DataSets\\petrol_consumption.csv")
dataset

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.00,3571,1976,0.525,541
1,9.00,4092,1250,0.572,524
2,9.00,3865,1586,0.580,561
3,7.50,4870,2351,0.529,414
4,8.00,4399,431,0.544,410
5,10.00,5342,1333,0.571,457
6,8.00,5319,11868,0.451,344
7,8.00,5126,2138,0.553,467
8,8.00,4447,8577,0.529,464
9,7.00,4512,8507,0.552,498
10,8.00,4391,5939,0.530,580
11,7.50,5126,14186,0.525,471
12,7.00,4817,6930,0.574,525
13,7.00,4207,6580,0.545,508
14,7.00,4332,8159,0.608,566
15,7.00,4318,10340,0.586,635
16,7.00,4206,8508,0.572,603
17,7.00,3718,4725,0.540,714
18,7.00,4716,5915,0.724,865
19,8.50,4341,6010,0.677,640
20,7.00,4593,7834,0.663,649
21,8.00,4983,602,0.602,540
22,9.00,4897,2449,0.511,464
23,9.00,4258,4686,0.517,547
24,8.50,4574,2619,0.551,460
25,9.00,3721,4746,0.544,566
26,8.00,3448,5399,0.548,577
27,7.50,3846,9061,0.579,631
28,8.00,4188,5975,0.563,574
29,9.00,3601,4650,0.493,534
30,7.00,3640,6905,0.518,571
31,7.00,3333,6594,0.513,554
32,8.00,3063,6524,0.578,577
33,7.50,3357,4121,0.547,628
34,8.00,3528,3495,0.487,487
35,6.58,3802,7834,0.629,644
36,5.00,4045,17782,0.566,640
37,7.00,3897,6385,0.586,704
38,8.50,3635,3274,0.663,648
39,7.00,4345,3905,0.672,968
40,7.00,4449,4639,0.626,587
41,7.00,3656,3985,0.563,699
42,7.00,4300,3635,0.603,632
43,7.00,3745,2611,0.508,591
44,6.00,5215,2302,0.672,782
45,9.00,4476,3942,0.571,510
46,7.00,4296,4083,0.623,610
47,7.00,5002,9794,0.593,524

In [5]:
x=dataset.drop("Petrol_Consumption",axis=1)
y=dataset["Petrol_Consumption"]
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

In [6]:
x.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [12]:
from sklearn.ensemble import RandomForestClassifier
regressor = RandomForestClassifier(n_estimators=20, random_state=1)
regressor

RandomForestClassifier(n_estimators=20, random_state=1)

In [13]:
regressor.fit(x_train,y_train)
y_pred= regressor.predict(x_test)
y_pred

array([487, 464, 566, 644, 524, 464, 571, 487, 644, 603], dtype=int64)

In [14]:
df=pd.DataFrame({"actual":y_test,"predicted":y_pred})
df

    actual  predicted
33     628        487
23     547        464
38     648        566
36     640        644
2      561        524
3      414        464
31     554        571
26     577        487
44     782        644
27     631        603

In [15]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 67.0
Mean Squared Error: 6559.6
Root Mean Squared Error: 80.99135756363144

In [4]:

import pandas as pd
import numpy as np

In [12]:
dataset = pd.read_csv("C:\\Users\\ELCOT\\Desktop\\IBM\\DATA SCIENCE\\bill_authentication.csv")
dataset

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [13]:
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

In [14]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [21]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.02036363636363636
Mean Squared Error: 0.007236363636363637
Root Mean Squared Error: 0.08506681865665153